*{
}

body{
}

.nav{
	margin-top: 100px;
}

.nav img{
	margin-left: 150px;
}

.nav a{
	list-style-type: none;
	text-decoration: none;
	color: black;
	float: right;
	padding: 5px;
	margin-top: 60px;
	margin-right: 150px;
}

.info{
	text-align: center;
	color: black;
	padding-bottom: 20px;
	border-bottom: 3px solid gold;
	border-radius: 85%;
}

.info h4 a{
	text-decoration: none;
}

.buttons{
	padding: 50px;
	margin-left: 330px;
	list-style-type: none;
}

.buttons ol{
	text-decoration: none;
	list-style-type: none;
}

.buttons ol li{
	float: left;
	text-align: center;
	padding: 10px;
	margin-right: 200px;
}

#portfolio{
	border: 2px solid black;
	color: black;
	padding: 10px;
}

	#portfolio:hover{
	border: 2px solid black;
	border-radius: 4px;
	background-color: black;
	color: white;
	padding: 10px;
	transition: background-color 0.5s ease-in;
	}

#contacts{
	border: 2px solid black;
	color: black;
	padding: 10px;
}

	#contacts:hover{
	border: 2px solid black;
	border-radius: 4px;
	background-color: black;
	color: white;
	padding: 10px;
	transition: background-color 0.5s ease-in;
	}

ol li a{
	text-decoration: none;
	list-style-type: none;
	color: grey;
}

.footer{
	margin-right: 150px;
}

.footer li{
	list-style-type: none;
	padding: 5px;
	margin: 10px;
	float: right;
}
