*{
}

.fimage{
	height: 1000px;
	background: url("img/me1.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: contain;
}

.personal{
	width: 49%;
	float: right;
	background: url("img/back.jpg");
	height: 300px;
	width: 100%px;
}

.personal h1{
	padding-bottom: 30px;
	border-bottom: 1px solid gold;
	border-radius: 80%;
	padding-top: 70px;
	color: white;
	text-align: center;
}

.personal h3{
	padding-top: 20px;
	text-align: center;
	color: white;
	font-family: Comic Sans MS;
}

.sidebar{
	position: relative;
	text-align: center;
	width: 40%;
	float: left;
	background-color: black;
}

.sidebar p{
	border-top: 1px solid red;
	border-radius: 20%;
	padding-top: 20px;
	color: white;
}

.remainder{
	width: 59%;
	height: 880px;
	float: right;
	text-align: left;
	background: url("img/wood.jpg");
}

/*.columns{
	background: url("img/me.jpg");
	background-attachment: fixed;
	height: 300px;
	width: 50%;
	float: left;
}

.columnl{
	text-align: center;
	width: 50%;
}

.columnr{
	float: right;
	background-color: pink;
}*/