.personal{
	background: url("img/back.jpg");
	height: 300px;
	width: 50%;
	float: left;
}

.personal h1{
	padding-bottom: 30px;
	border-bottom: 1px solid gold;
	border-radius: 80%;
	padding-top: 70px;
	color: white;
	text-align: center;
}

.personal h3{
	text-align: center;
	color: white;
	font-family: Comic Sans MS;
}

body{
	background-color: black;
	color: white;
}

.column1{
	background: url("img/me.jpg");
	background-repeat: no-repeat;
	float: right;
	text-align: center;
	width: 49%;
	height: 100%;
	margin: 3px;
}

.column2{
	float: left;
	text-align: center;
	width: 49%;
	margin: 3px;
}

.column h2{
	padding: 10px;
	border-bottom: 1px solid gold;
	border-radius: 80%;
	color: gold;
	text-align: center;
}

.column p{
	text-align: center;
	color: white;
}